{% extends "base.html.twig" %}

{% block body %}
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 13/3/2018 dans catégorie politique </div>
        <div class="content">
            <img src="http://placehold.it/350*350" alt="">
            <p>Rerum beatae est iste dolore.</p>
            <p>Aspernatur hic veritatis voluptate a!</p>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere velit suscipit unde. Consequatur, vitae! Laborum ex autem ratione. A atque itaque perspiciatis, blanditiis esse optio eos harum doloremque, quasi tempora vel et quaerat nesciunt excepturi consectetur maiores impedit quos amet voluptatem quae commodi eaque odio sit dolorem! Recusandae, temporibus ad.</p>
            <p>Possimus, fugiat quasi vel veniam alias incidunt quis repudiandae mollitia blanditiis quod debitis, aut accusantium, quam ducimus consequuntur est dolorem unde doloribus nihil similique veritatis dicta. Vel tempore culpa nam distinctio vero, consequuntur harum, officia molestiae, repudiandae suscipit esse voluptates iure doloribus cumque beatae. Illum nam vitae suscipit labore modi?</p>
        </div>
    </article>
{% endblock %}